@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Raleway', sans-serif;
}

.navbar {
  width: auto;
  z-index: 999;
  position: absolute;
  top: 0;
  left:0;
}

.sub-menu {
  padding: 0 0 0 0;
  float: right;
  left: -210px;
  top: 0;
  transition: all 0.3s ease;
  height: 100%;
  width: auto;
  position: fixed;
  margin: 0;
  background-color: #230658;
  border-radius: 0;
  z-index: 0;
  overflow: hidden;
}
.sub-menu.oppenned {
  left: 0;
}
.sub-menu ul {
  margin: 0;
}
.sub-menu li {
  display: block;
  list-style: none;
  height: auto;
  margin-left: 0;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.sub-menu li:first-child {
  margin-top: 100px;
}
.sub-menu li a {
  color: #fff;
  font-size: 2.2rem;
  width: 100%;
  display: block;
  float: left;
  text-transform: uppercase;
  line-height: 2em;
  cursor: pointer;
  text-decoration: none;
  padding-left: 1em;
  padding-right: 5.5em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}
.sub-menu li a:hover {
  color: #230658;
  font-weight: bold;
  background-color: white;
}

.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 65px;
  margin-right: 20px;
  padding: 0;
  width: 36px;
  height: 36px;
  z-index: 2;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}
.c-hamburger:focus {
  outline: none;
}
.c-hamburger span {
  display: block;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  height: 4px;
  background: #230658;
}
.c-hamburger span:before, .c-hamburger span:after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #230658;
  content: "";
}
.c-hamburger span:before {
  top: -10px;
}
.c-hamburger span:after {
  bottom: -10px;
}

.c-hamburger--htx span {
  transition: background 0s 0.3s;
}
.c-hamburger--htx span:before, .c-hamburger--htx span:after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}
.c-hamburger--htx span:before {
  transition-property: top, transform;
}
.c-hamburger--htx span:after {
  transition-property: bottom, transform;
}
.c-hamburger--htx.is-active span {
  background: none;
}

.c-hamburger--htx.is-active {
  margin-left: 20px;
}

.c-hamburger--htx.is-active span:before, .c-hamburger--htx.is-active span:after {
  transition-delay: 0s, 0.3s;
}
.c-hamburger--htx.is-active span:before {
  top: 0;
  transform: rotate(45deg);
  background-color: white;
}
.c-hamburger--htx.is-active span:after {
  bottom: 0;
  transform: rotate(-45deg);
  background-color: white;
}